{% extends "@shared_mail/base.html.twig" %}

{% block title %}{{ 'security.email.request_change_password_subject'|trans({}, 'security') }}{% endblock %}

{% block body %}
    <p style="margin-bottom: 15px;">{{ 'shared.label.hello'|trans({}, 'shared') }} {{ firstname }} {{ lastname }},</p>
    <p>Vous avez effectué une demande de changement de mot de passe.</p>
    <p>Merci de cliquer sur le lien ci-dessous</p>
    <p style="text-align: center">
        <a href="">Réinitialiser mon mot de passe</a>
    </p>
    <p style="margin-top: 15px;">
        Bonne journée !
        Marvin
    </p>
{% endblock %}
