framework:
    messenger:
        failure_transport: failed
        transports:
            marvin.to.manager:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    auto_setup: true
                    table_name: messenger_marvin_to_manager
                    queue_name: marvin.to.manager
                    use_notify: true
                retry_strategy:
                    max_retries: 3
                    delay: 500
            manager.to.marvin:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    auto_setup: true
                    table_name: messenger_manager_to_marvin
                    queue_name: manager.to.marvin
                    use_notify: true
                retry_strategy:
                    max_retries: 3
                    delay: 500
            domotic.events:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    table_name: messenger_domotic_events
                    queue_name: domotic.events
                    use_notify: true
                retry_strategy:
                    max_retries: 5
                    delay: 1000
                    multiplier: 2
            domotic.commands:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    table_name: messenger_domotic_commands
                    queue_name: domotic.commands
                    use_notify: true
                retry_strategy:
                    max_retries: 3
                    delay: 500
            failed:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    table_name: messenger_failed
                    queue_name: failed
                    use_notify: true
        routing:
            EnderLab\MarvinManagerBundle\Messenger\ManagerRequestCommandInterface: marvin.to.manager
            #Marvin\Domotic\Application\Command\DomoticEvent: domotic.events
            #Marvin\Domotic\Application\Command\DomoticCommand: domotic.commands

when@test:
    services:
        doctrine.orm.messenger.event_subscriber.doctrine_clear_entity_manager:
            class: stdClass
    framework:
        messenger:
            transports:
                domotic.events: 'test://'
                domotic.commands: 'test://'
                failed: 'test://'
