<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body style="background-color: #0f172a; color: #f1f5f9;">
        {% block body %}{% endblock %}
    </body>
</html>
