@import "./login.css";

:root {
    --bs-body-bg: #f9fafb;
    --bs-body-color: #1f2937;

    --bs-primary: #2563eb;    /* Bleu connecté */
    --bs-secondary: #64748b;  /* Gris moderne */
    --bs-success: #22c55e;    /* Vert énergie */
    --bs-info: #0ea5e9;       /* Bleu clair */
    --bs-warning: #f59e0b;    /* Orange alerte douce */
    --bs-danger: #dc2626;     /* Rouge critique */

    --bs-border-color: #e5e7eb;
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: #1d4ed8;
}

/* === Dark mode (domotique) === */
[data-bs-theme="dark"] {
    --bs-body-bg: #0f172a;
    --bs-body-color: #f1f5f9;

    --bs-primary: #3b82f6;    /* Bleu lumineux */
    --bs-secondary: #94a3b8;  /* Gris clair */
    --bs-success: #4ade80;    /* Vert néon énergie */
    --bs-info: #38bdf8;       /* Bleu électrique */
    --bs-warning: #fbbf24;    /* Orange lumineux */
    --bs-danger: #ef4444;     /* Rouge vif */

    --bs-border-color: #1e293b;
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: #60a5fa;
}

body {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.vertical-center {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

/** ********** CARD ********** **/
.card {
    background-color: #1e293b;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(255, 111, 0, 0.6);
}

/** ********** LOGIN ********** **/
.container-login {
    /*min-height: 100vh;
    align-items: center;
    justify-content: center;*/
}

.login-logo img.logo {
    width: 200px !important;
    height: 200px !important;
}
